<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Topic Creation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/mergely/static/css/loading-bar.css"/>

 <style>
  .top {
    margin-top: 100px; 
 }
 </style>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">Topic Creation</a>
    </div>
    <ul class="nav navbar-nav">
    <!--  
      <li>
        <a href="#/topics">Create Topics</a>
      </li>
    -->
    </ul>



</div>
</nav>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="top container" ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="/mergely/static/lib/angular/angular.js"></script>
  <script src="/mergely/static/lib/angular-route/angular-route.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/mergely/static/js/app.js"></script>
  <script src="/mergely/static/js/services.js"></script>
  <script src="/mergely/static/js/controllers.js"></script>
  <script src="/mergely/static/js/filters.js"></script>
  <script src="/mergely/static/js/directives.js"></script>
  <!--script src="/mergely/static/js/loading-bar.js"></script-->
  <script src="/mergely/static/js/draganddrop.js"></script>
</body>
</html>
